//>  ████████████████████████████████████  1

body {
    margin: 0;
    display: inline-block;
}

//>  ████████████████████████████████████  2

.container {
    width: 20vw;
    height: 10vw;
    background-color: var(--theGray);
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius:  var(--radius-s);
}
